html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Comfortaa', cursive;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}

.grid {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 44px;
}

.floatR {
  float: right;
  margin-top: 50px !important;
}

@media (max-width: 959px) {
  .grid {
    display: grid !important;
  }
}